{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Naslov</title>
    </head>
    <body>
            <h1>{% block header %}naslov sajta{% endblock %}</h1>
            {% block sidebar %}sidebar default{% endblock %}
            {% block body %}bbbbodi{% endblock %}
        </div>

        {# js fajlovi su u web/js #}
        {% block javascripts %}
            <script>console.log("iz base html.twig");</script>
        {% endblock %}
    </body>
</html>
