<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Naslov</title>
    </head>
    <body>
        {% block title %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
